# Entornos virtuales
venv/
venv_finance/
.venv/

# Cache de Python
__pycache__/

# Checkpoints de Jupyter
.ipynb_checkpoints/

# Config VS Code
.vscode/

# Archivos grandes o temporales
*.dll
*.pkl
*.log
